@charset "UTF-8";

.panel-content {
  text-align: center;
  .panel-title {
    font-size: $title-font-size;
    font-weight: 600;
    line-height: calc($title-font-size * 1.3);
  }
  .panel-description {
    font-size: $descr-font-size;
    font-weight: 400;
    line-height: calc($descr-font-size * 1.3);
    margin-top: 2.5rem;
  }
}
#panel1 {
  font-family: $font-family-logo;
  .panel-content {
    img {
      max-width: 113px;
      max-height: 164.94px;
    }
    a {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      color: #ffffff;
    }
    span {
      padding: 0 46px;
      background-color: $main-color;
      border-radius: 16px 0;
      p {
        font-size: 2.4rem;
        line-height: 4rem;
      }
    }
  }
}
#panel2 {
  display: block;
  .upside {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 34px;
    background-color: $main-color;
    width: 100%;
    height: calc(57vh - 20px);
  }
  .bottomside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(43vh - 20px);
    font-family: $font-family-desc;
    padding-top: 40px;
    .desc-title {
      font-weight: bold;
      font-size: 1.6rem;
      letter-spacing: -0.01rem;
      color: #27214D;
    }
    .desc-content {
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: -0.01rem;
      margin-top: 8px;
      color: #5D577E;
    }
  }
  .desc-container {
    box-sizing: content-box;
    width: 100%;
    max-width: 330px;
    padding: 0 24px;
  }
}