@charset "UTF-8";

@import './../abstract/fonts';

// Colors
$main-color: #FFA451;
$main-color-2: #F08626;

$main-box-shadow: #A1C3FC;
// Font
$font-family-logo: 'Bad Script', cursive;
$font-family-desc: 'TT Norms Pro';
$html-font-size: 62.5%;
$title-font-size: 2.4rem;
$descr-font-size: 1.8rem;